<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div style="padding: 70px;">
  <div class="box-form" style="margin-top: 40px;">
    <div class="left">
      <div class="overlay">
        <h1>Hello World.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur et est sed felis aliquet sollicitudin</p>

      </div>
    </div>
    <div class="right" style="margin-top: 40px; padding: 20px;">
      <p>Don't have an account? <a routerLink="/SIGNUP">Creat Your Account</a> it takes less than a minute</p>
      <div class="inputs">
        <input type="text" placeholder="User Name" name="username" id="username">
        <br>
        <input type="password" placeholder="Password" name="password" id="password">
      </div>
      <br><br>
      <br>
      <button>Login</button>
    </div>
  </div>
</div>
</body>
</html>
